header {
    background-color: whitesmoke;
    font-size: 30%;
    padding-top: 3%;
}

body {
    background-color: whitesmoke;
}

#card1 {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
}

#card2 {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
}

#card3 {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
}

.container-fluid {
    background-color: whitesmoke;
    margin-top: -2%;
}

.nav-link {
    font-size: 150%;
}

#copyright {
    text-align: center;
    font-size: 60%;
    color: rgb(202, 202, 202);
    padding: 1%;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center
}